body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(fondo.png);
    padding: 20px;
}

header h1
{
    color: #f44336;
    text-align: center;
    border: 4px dashed #f44336;
    background-color: white;
    padding: 5px;
}

nav ul
{
    list-style: none;
    text-align: center;
}

nav li
{
    display: inline-block;
    margin: 15px;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border: solid 2px #f44336;
}

#par
{
    text-align: right;
}

#par h2
{
    background-color: #ffc107;
    padding: 5px;
    color: white;
}

#impar h2
{
    background-color: #f44336;
    padding: 5px;
    color: white;
}

p
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

aside ul
{
    list-style: square;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

#primerAnuncio
{
    font-size: 24px;
    color: blue;
}

#segundoAnuncio
{
    font-size: 20px;
    color: red;
}

#tercerAnuncio
{
    color: green;
}

footer h1
{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}